header
  display : flex;
  flex-direction : row;
  border-bottom : 1px solid black;
  padding-bottom : 10px;
  color : blue;

div.images
  display : flex;
  flex-direction : row;

div.images div
  margin : 20px;

div.blocks a
  margin : 10px;
