include includes/head.pug
include includes/header.pug          
div.container
  div
    h1 This is an H1
    h2 *Catch Phrase*

  div.blocks
    a(href="/team" class="btn btn-primary") Our team
    a(href="/proj" class="btn btn-primary") Learn about the project
    a(href="/wrongroute" class="btn btn-primary") This is the wrong link to test the routing handling
    
  div.images  
    div
      p Image that actually exist : 
      img(src="public/img/img.jpeg")

    div
      p image that doesn't exist :
      img(src="public/img/no.jpg")

include includes/jsincludes.pug  
