include includes/head.pug
include includes/header.pug          
div.container
  div
    h1 This is the team
    ul
      li Charles ANDRE
      li Vincent BAS
    
    p We are both in 5th year at ECE Paris
    
  
include includes/jsincludes.pug  
