include includes/head.pug
include includes/header.pug          
div.container
  div
    h1 Mission Gate
    h2 Mission Gate, un pont vers l'evenementiel de demain.
    button.btn.btn-primary Je suis un particulier
    button.btn.btn-primary Je suis une entreprise
  
  div.blocks
    a(href="/team" class="btn btn-primary") Venez decouvir l'équipe
    a(href="/project" class="btn btn-primary") Apprenez en plus sur le projet
  
  img(src="public/img/suit1&.jpg")
  
include includes/jsincludes.pug  
